.arrangementViewerBody > :global(.overlay) {
  padding: 5pt;
}

.trackViewersWrapper {
  --scrollbar-height: 20pt;
  --scrollbar-opacity: 1;
  --scrollbar-pointer-events: default;
  overflow-x: auto;

  /* Hide scrollbars on a couple browsers */
  -ms-overflow-style: none;  /* IE */
  scrollbar-width: none;  /* Firefox */

  /* Default scrollshadow vars for when they are not shown */
  --left-scrollshadow-display: none;
  --right-scrollshadow-display: none;
}

.trackViewersWrapper:not(.overflowingLeft):not(.overflowingRight) {
  --scrollbar-height:0;
  --scrollbar-opacity: 0;
  --scrollbar-pointer-events: none;
}

.trackViewersWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

.trackViewersWrapper.overflowingLeft, .trackViewersWrapper.overflowingRight {
  padding-bottom: var(--scrollbar-height);
}

.trackViewersWrapper.overflowingLeft {
  --left-scrollshadow-display: block;
}

.trackViewersWrapper.overflowingRight {
  --right-scrollshadow-display: block;
}

.controls {
  display: flex;
  padding: 20pt;
  border-bottom: var(--thick-border);
  align-items: center;
}

.controls :global(.overlay) {
  padding: 20pt;
}

.playbackControl {
  max-height: 57pt;
}

.playbackControl img {
  height: 18pt;
  width: 18pt;
}

.timeControlsWrapper {
  display: flex;
}

.timeControl {
  padding: 9.75pt 12pt;
}

#shareButton img {
  display: none;
}

@media only screen and (max-width: 600px) {
  .timeControlsWrapper {
    flex-direction: column;
  }

  .timeControl {
    padding: 0;
  }

  .timeControl input, select {
    height: unset;
  }

  #shareButton span {
    display: none;
  }

  #shareButton img {
    display: inline-block;
  }
}

.otherControlsWrapper {
  display: flex;
}

button:global(.push-button).editTitleButton {
  font-size: 20.5pt;
  font-family: serif;
  text-transform: capitalize; /* .push-button normally lower-cases contents */
  line-height: 1em;
}

.undoRedoWrapper {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 430px) {
  .otherControlsWrapper {
    display: flex;
    flex-direction: column;
  }

  button:global(.push-button).editTitleButton {
    font-size: 15pt;
    margin-bottom: 5pt;
  }

  .undoRedoWrapper {
    height: 23pt;
  }
}
