.track-viewer {
  display: flex;
  height:54pt;
}

.track-viewer > * {
  display: inline-block;
}

.track-meta {
  width: 80.9pt;
  border: 1px solid black;
  height: 50pt;
  padding: 2pt;
  flex-shrink: 0;
}

.note-line {
  display: flex;
  height:100%;
}

.note-viewer {
  width:50pt;
  border: 1px solid black;
  display: inline-block;
  height: 50pt;
  padding: 2pt;
  text-align: center;
  line-height: 50pt;
  cursor: pointer;
}

.note-viewer.start-of-bar {
  border-left-width: 2px;
}

.note-viewer.odd-beat {
  background-color: #e0e0e0;
}

.note-viewer.current-timing {
  background-color: yellow;
}

.arrangement-controls {
    padding: 20pt;
}

.time-controls input {
    width: 40pt;
}
