:root {
  --yellow:  #FFDE00;
  --light-yellow: #FFE739;
  --lighter-yellow: #FFEB64;
  --green: #006666;
  --dark-green: #005151;
  --darker-green: #003737;
  --light-green: #0A7B7B;
  --lighter-green: #238B8B;
  --blue: #006699;
  --light-blue: #008ED3;
  --lighter-blue: #07ABFB;
  --dark-blue: #00537B;
  --darker-blue: #003F5D;
  --gray:	#787878;
  --dark-gray:	#606060;
  --darker-gray:	#303030;
  --darkest-gray: #202020;
  --light-gray: #A0A0A0;
  --lighter-gray: #D0D0D0;
  --lightest-gray: #E8E8E8;
  --thick-border-width: 1.5pt;
  --thick-border: var(--thick-border-width) solid var(--dark-gray);
  --thin-border-width: 1pt;
  --thin-border: var(--thin-border-width) solid var(--dark-gray);
  --note-height: 54pt;
  --track-meta-width: 84.9pt;
  --a-color: var(--darker-blue);
  --a-color-hover: var(--light-blue);
  --a-color-active: var(--lighter-blue);
}

a {
  text-decoration: none;
  color: var(--a-color);
}

a:active {
  color: var(--a-color-active);
}

a:hover {
  text-decoration: underline;
  color: var(--a-color-hover);
}

a:visited {
  color: var(--a-color)
}

body {
  margin: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

.welcome {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: 20pt 0;
    background-color: var(--lighter-yellow);
}

#wrapper {
  height: 100%;
}

#banana-drum {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#banana-drum > * {
  flex-grow: 1;
}

#about p {
  max-width: 500pt;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  --footer-height: 20pt;
  flex-basis: var(--footer-height);
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  background-color: var(--lightest-gray);
  line-height: var(--footer-height)
}

.arrangement-controls {
  display: flex;
  border-bottom: var(--thick-border);
}

.arrangement-controls > * {
  margin-right: 8pt;
}

.track-viewers-wrapper {
  overflow-x: auto; /* scroll if overflowing */
}

.track-viewer {
  min-width: 100%;
  display: flex;
}

.track-viewer > * {
  display: inline-block;
}

/*
Scrollshadows: An Enormous Faff
Very difficult to get them to the right height, right position, and not overlapping a scrollbar
So we're putting them in each track-viewer, where we can position them with no problems
*/

.scrollshadow {
  display: none;
  width: 20pt;
  pointer-events: none;
  z-index: 1;
  position: absolute;
  /* Vertically offset shadows slightly to cover borders */
  margin-top: calc(-0.5 * var(--thick-border-width));
  height: calc(var(--thick-border-width) + var(--note-height))
}

.track-viewers-wrapper.overflowing-left .scrollshadow.left-scrollshadow {
  background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0) 70%);
  display: block;
  left: var(--track-meta-width);
}

.track-viewers-wrapper.overflowing-right .scrollshadow.right-scrollshadow {
  background: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0) 70%);
  display: block;
  right: 0;
}

.track-meta {
  --padding: 2pt;
  width: calc(var(--track-meta-width) - 2 * var(--padding));
  height: calc(var(--note-height) - 2 * var(--padding));
  border: var(--thick-border);
  /* Apply some negative margins to collapse borders */
  margin-top: calc(-1 * var(--thick-border-width));
  margin-bottom: calc(-1 * var(--thick-border-width));
  margin-left: calc(-1 * var(--thick-border-width));
  padding: var(--padding);
  flex-shrink: 0;
  position: absolute;
  left: 0;
  background-color: white;
  z-index: 100; /* Currently only for covering track-controls overlay */
}

.track-meta .options-button {
  float: right;
  margin-left: 5pt;
}

.track-meta .options-button img {
  width: 10pt;
}

.note-line-wrapper {
  flex-grow: 1;
  margin-left: var(--track-meta-width);
  border-bottom: var(--thick-border);
}

.note-line-wrapper .overlay {
  z-index: 50;
}

.track-controls {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 10pt;
  box-sizing: border-box;
}

.note-line {
  display: flex;
}

/* Effective note-widths must be hard-coded in JS as well */
/* Update in TrackViewer.tsx if you change note dimensions */
.note-viewer {
  flex-basis:var(--note-height);
  flex-grow: 1;
  flex-shrink: 0;
  border: var(--thick-border);
  /* Now collapse borders using margin */
  margin-top: calc(-1 * var(--thick-border-width));
  margin-bottom: calc(-1 * var(--thick-border-width));
  margin-left: calc(-1 * var(--thick-border-width));
  height: var(--note-height);
  text-align: center;
  line-height: var(--note-height);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: white;
}

.note-viewer * {
  -webkit-user-select: none;
  user-select: none;
}

.note-viewer.start-of-bar {
  border-left-width: 2px;
}

.note-viewer.odd-beat {
  background-color: var(--lightest-gray);
}

.note-details-viewer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.note-details-viewer > * {
  align-self: center;
}

.note-details-viewer img.note-style-symbol {
  height: 70%;
}

.arrangement-controls {
    padding: 20pt;
}

.time-controls input {
    width: 40pt;
}

#show-instrument-browser {
  width: 86pt;
  height: 50pt;
  margin-top: 10pt;
}

.arrangement-viewer-body > .overlay {
  padding: 5pt;
}

.instrument-chooser {
  height: 50pt;
  width: 70pt;
  margin-right: 5pt;
  margin-bottom: 5pt;
  vertical-align: middle;
}


/* Overlays */
.overlay-wrapper {
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0px;
  background: white;
  box-sizing: border-box; /* For when it has added padding */
  transition: opacity 0.2s;
}

.overlay.visible {
  opacity: 1;
}

.overlay.invisible {
  opacity: 0;
}

.overlay.hidden {
  display: none;
}



/* =============================================================== */
/*                             Buttons                             */
/* =============================================================== */




button.push-button {
  box-sizing: border-box;
  display: inline-block;
  border: none;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .2), inset 0 -3px 0 0 rgba(0, 0, 0, .32);
  padding: 9.75pt 12pt;
  border-radius: 11pt;
  transition: all .2s;
  cursor: pointer;
  background-color: var(--blue);
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  font-weight: bold;
  position: relative;
  outline: none;
  text-transform: lowercase;
  -webkit-user-select: none;
  user-select: none;
}

button.push-button.small {
  font-size: 8pt;
  padding: 2pt 4pt 3pt;
  font-weight: 400;
  border-radius: 5pt;
  line-height: 11pt;
}

button.push-button.green {
  background-color: var(--green);
}

button.push-button.gray {
  background-color: var(--light-gray);
}

button.push-button.yellow {
  background-color: var(--yellow);
}

button.push-button:active {
  top: 2px;
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, .1);
}

button.push-button:disabled {
  cursor: auto;
}

/* anchor buttons are just meant to look like anchors */
button.anchor-button {
  all: unset;
  cursor: pointer;
  color: var(--a-color);
}

button.anchor-button:active {
  color: var(--a-color-active);
}

button.anchor-button:hover {
  text-decoration: underline;
  color: var(--a-color-hover);
}
